/* #slidelist .playerContainer .zfyTool {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
    background: #242121;
    padding: 0.4em;
    border: 1px solid #fff;
} */